[role='log'] {
  height: 130px;
  background: #222;
  color: #fff;
  padding: 1em;
  overflow: auto;
  border-radius: 21px;
  border: 4px double #fff;
}

[role='log'] li {
  list-style-type: circle;
  margin: 5px 20px;
  font-size: 1.2em;
}

.Wrap .Clear {
  margin: 15px auto;
  display: block;
}
