h1,
h2,
h3 {
  font-weight: 200;
  text-align: center;
  color: #000;
}

.hero {
  background: rgb(108, 218, 242);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4.5em;
}

.hero h1 {
  margin-left: 8px;
}

.hero span {
  font-size: 3em;
}

.app .dqpl-layout,
.app .dqpl-main-content {
  margin: 0;
  padding: 0;
  border: 0;
}

.app .dqpl-top-bar > ul {
  justify-content: space-evenly;
}

.app .dqpl-top-bar {
  background: rgb(2, 16, 26);
}

.app .dqpl-top-bar [role='menubar'],
.Content {
  max-width: 775px;
  margin: 0 auto;
}

.app .dqpl-top-bar [role='menubar'] li {
  border-right: 1px solid #5a6268;
  flex: 1 0 33%;
  text-align: center;
  justify-content: center;
  transition: border-bottom 350ms;
}

.app .dqpl-top-bar [role='menubar'] li:hover,
.app .dqpl-top-bar [role='menubar'] li:focus {
  border-bottom: 6px solid rgb(108, 218, 242);
}

.app .dqpl-top-bar [role='menubar'] li:nth-of-type(1) {
  border-left: 1px solid #5a6268;
}

.app .dqpl-top-bar a {
  color: #fff;
}

.Links a {
  margin-right: 15px;
}
