* {
  box-sizing: border-box;
}

h1,
h2,
h3 {
  font-weight: 200;
  text-align: center;
  color: #000;
}

.dqpl-link {
  margin: 10px auto;
}

p {
  font-size: 1.1em;
  font-weight: 200;
}

.dqpl-error-wrap:empty {
  display: none;
}
